/*
Navigation custom par flexbox pour éviter les floats du modèle

Benjamin Dupont
2019
 */

#navigation-custom {
    display:         flex;
    flex-direction:  row;
    justify-content: flex-start;
    align-items:     center;

    padding: 1em;

    background: #266950;
}

#navigation-custom li {
    list-style: none;
    margin-right: 1.25em;
}

#navigation-custom li a {
    color: white;
}

#navigation-custom li a:not(:hover) {
    text-decoration: none;
}

#navigation-custom li.droite {
    margin-left: auto;
}
